#input-button-div {

    position: static;
    width:auto;
    margin:auto;
    margin-top:200px;

}

#solve-button-div {

    position: relative;
    width:auto;
    margin:auto;
    top:-44px;
    left:90px;

}